body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #007bff;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;  
}

h1 {
    text-align: start;
    color: rgb(255, 255, 255);
    padding-left: 50px;
}    

nav ul {
    display: grid;
    grid-template-rows: 1fr ;
    margin: 0;
    
    list-style: none;

    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;  
}

nav ul li a:hover {
    text-decoration: underline;
    color: purple;
}


section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 250px;
    margin-top: 250px;
    text-decoration: underline;
    font-size: 50px;
    color: #000000;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px
}

#apropos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: #007bff; 
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px

}

.apropos {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    margin-top: 80px;
    font-size: 26px;
    background-color: #007bff;
    border-radius: 5px;
    line-height: 2;
    
}

.button-6 {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 100px;
    margin-left: 48%;
    margin-right: 46%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;  
}

.button-6:hover {
    color: purple;
}


#formation {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    background-color: #000000;
}


#formation h2 {
    display: flex;
    justify-content: center;
    color: #007bff;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
}

#formation ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    list-style: none;
    margin-right: 80px;
    padding: 50px;
    color: #007bff;
    


}


#competences {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    background-color: #000000;
}

#competences h2 {
    display: flex;
    justify-content: center;
    color: #007bff;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    
}

#competences ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    list-style: none;
    margin-left: 50px;
    padding: 50px;
    color: #007bff;
    
}


#experiences {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    background-color: #000000;
}

#experiences h2 {
    display: flex;
    justify-content: center;
    color: #007bff;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
}

#experiences ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    list-style: none;
    margin-right: 80px;
    padding: 50px;
    color: #007bff;
}
    

section p {
    margin-bottom: 20px;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    line-height: 2.5;
    background-color: #007bff;
}
    

.icons-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
    font-size: 50px;
    padding-top: 5%;
    color: #000000;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
}

.copyright {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.sticky-element {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #000000;
    color: #0044ff;
    padding: 10px;
    margin-left: 95%;
    margin-right: 2%;
    
}

